@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #800080, 0 0 70px #800080, 0 0 80px #800080, 0 0 10px #800080, 0 0 10px #800
}

.font-outline-2 {
    -webkit-text-stroke: 1px black;
}

.body-background {

    background-image: 
        radial-gradient(circle at center, rgba(243, 16, 16, 0.005) 0, rgba(255, 255, 255, 0.005) 1px, transparent 1px),
        linear-gradient(to right, rgba(160, 37, 37, 0.01) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(94, 70, 230, 0.01) 1px, transparent 1px);
    background-size: 20px 20px;
    background-attachment: fixed;
    background-color: #161616;
}